

{% load static %}

<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>


<link rel="stylesheet" href="{% static 'css/register.css' %}">




<div class="container">
    <div class="container mt-3">
      
    </div>
      <div class="container mt-5 mb-5 border-2 shadow-lg main-container">
          <div class="row">
            
       
      <h2 class="text-center">SIGNUP</h2>
               
              <div class="col mt-3">
                  <form action="" enctype="multipart/form-data" method="post" class="text-dark">
                      {% csrf_token %}
  
                      
                      {% for message in messages %}
                      <div class="container error-msg" role="alert">
                          <!-- <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg> -->
                          <div>{{message}}</div>
                        </div>  
                        
                        {% endfor %}
                      


                    <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">Username</label>
                      <input type="text" name="username" class="form-control" id="exampleFormControlInput1" placeholder="Enter username....">
                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email</label>
                        <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter email">
                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="exampleFormControlInput1" placeholder="Enter Password">
                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Confirm Password</label>
                        <input type="password" name="password1" class="form-control" id="exampleFormControlInput1" placeholder="Enter Confirm Password">
                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Phone</label>
                        <input type="number" name="phone_number" class="form-control" id="exampleFormControlInput1" placeholder="Enter Phone....">
                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">PayPal Client_Id (For sellers)</label>
                        <input type="text" name="paypal_client_id" class="form-control" id="exampleFormControlInput1" placeholder="Enter Paypal id....">
                    </div>


               
  
                    <div class="mb-3">
                      <label for="formFileMultiple" class="form-label">Image</label>
                      <input class="form-control" name="image" type="file" id="formFileMultiple" multiple>
                    </div>

             



                    <button type="submit"   value="submit"  class="btn btn-primary mb-3 signup-text login-btn">Signup</button>
                  </form>
              </div>
  
          </div>
      </div>
  
  
    
  
  </div>
  






