<footer class="footer-box text-center  text-lg-start text-dark" style="background-color: #ECEFF1; color:21D192 ;">
    <section class="d-flex justify-content-between p-4 text-white" style="background-color: #21D192; border-radius: 0px;">
        <!-- Left -->
        <div class="me-5">
            <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->
        <!-- Right -->
        <div>
            <a href="" class="text-white me-4">
                <i class="fa fa-facebook-f" style="font-size:25px"></i>

            </a>
            <a href="" class="text-white me-4">
            
                <i class="fa fa-instagram" style="font-size:24px"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fa fa-twitter" style="font-size:24px"></i>
                
            </a>
            <a href="" class="text-white me-4">
                <i class="fa fa-globe" style="font-size:24px"></i>
            </a>
          
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->
    <!-- Section: Links  -->
    <section class="" >
        <div class="container text-center text-md-start mt-5"style="color:grey;">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold">AZ Devlopers</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
                    <p>
                        The Project of Awais Shakeel & Zuraiz Aziz Developers    A dynamic web platform offers a large varity of  plants in very affordable price & Providing Users to become a seller. Sell your plants  easily.
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">Zuraiz Aziz</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
                    <p>
                        <a href="#!" class="text-dark">MDBootstrap</a>
                        
                    </p>
                    <p>
                        <a href="#!" class="text-dark">MDWordPress</a>
                    </p>
                    <p>
                        <a href="#!" class="text-dark">BrandFlow</a>
                    </p>
                    <p>
                        <a href="#!" class="text-dark">Bootstrap Angular</a>
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">Awais Shakeel</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
                    <p>
                        <a href="https://awaisshakeel12.pythonanywhere.com/" class="text-dark">Potfolio</a>
                    </p>
                    <p>
                        <a href="" class="text-dark">Web Developer</a>
                    </p>
                    <p>
                        <a href="#!" class="text-dark">Python & Django</a>
                    </p>
                    <p>
                        <a href="#!" class="text-dark">Help</a>
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">Contact</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
                    <p><i class="fas fa-home mr-3"></i> Layyah, Punjab 10012, Pak</p>
                    <p><i class="fas fa-envelope mr-3"></i> awais.ok612@gmail.com</p>
                    <p><i class="fas fa-phone mr-3"></i> + 92 3486439675</p>
                    <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">AwaisShakeel.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
